type bmm050d, domain;
type bmm050d_exec, exec_type, file_type;

init_daemon_domain(bmm050d)
allow bmm050d bmm050d_exec:file { read open getattr execute execute_no_trans};
allow bmm050d msensor_device:chr_file { rw_file_perms };
allow bmm050d sysfs_sensor_file:dir { rw_dir_perms };
allow bmm050d system_data_file:dir { rw_dir_perms };

allow bmm050d msensor_device:chr_file rw_file_perms;
allow bmm050d sysfs_sensor_file:file { rw_file_perms };
allow bmm050d system_data_file:dir { setattr rw_dir_perms };
allow bmm050d sensord_data_file:file { create setattr rw_file_perms};
allow bmm050d sensord_data_file:dir { setattr getattr search };
