type lgpserver, domain;
type lgpserver_exec, exec_type, file_type;
init_daemon_domain(lgpserver)
allow lgpserver lgpserver_exec:file { read open getattr execute execute_no_trans};
allow lgpserver ccci_device:chr_file { rw_file_perms };
allow lgpserver nvram_data_file:dir { create rw_dir_perms };
allow lgpserver property_socket:sock_file rw_file_perms;
allow lgpserver lgpserver_agent_service:service_manager {add find};
allow lgpserver misc_device:chr_file {read write open};
allow lgpserver nvram_device:blk_file {read write open};
allow lgpserver als_ps_device:chr_file {read write open ioctl };
allow lgpserver gsensor_device:chr_file {read write open ioctl };
allow lgpserver unlabeled:dir { search };
allow lgpserver unlabeled:file { read write open };
allow lgpserver lgpserver_agent_service:service_manager { add find };
