type permission_check, domain;
type permission_check_exec, exec_type, file_type;
init_daemon_domain(permission_check)
allow permission_check permission_check_exec:file { read open getattr execute execute_no_trans};
allow permission_check ccci_device:chr_file { rw_file_perms };
allow permission_check nvram_data_file:dir { create rw_dir_perms };
allow permission_check nvram_data_file:file { getattr };
allow permission_check property_socket:sock_file rw_file_perms;
allow permission_check shell_exec:file {execute read open execute_no_trans getattr};
allow permission_check toolbox_exec:file {getattr};
allow permission_check init:unix_stream_socket {connectto};
