allow platform_app init:unix_dgram_socket write;
allow platform_app init_tmpfs:file read;
allow platform_app fm_device:chr_file { read write ioctl open };
