# ==============================================
# MTK Policy Rule
# ==============================================
type nvram_agent_service,     service_manager_type;
type lgpserver_agent_service,     service_manager_type;
